---
import { LOCALES } from '../../misc/i18n/locales';
import { getRouteLangParam, useTranslations } from '../../misc/i18n/utils';

import Product from '../../components/Product.astro';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export function getStaticPaths() {
	return Object.keys(LOCALES)
				 .map(lang => ({
					params: { lang: getRouteLangParam(lang) },
					props: { currentLang: lang }
				 }));
}


interface Props {
	currentLang: keyof typeof LOCALES
}

const { currentLang } = Astro.props;

const goods = await getCollection('goods');
const translate = useTranslations(currentLang);
---

<Layout currentLang={currentLang}>
    <main>
        <h1>{translate('goods')}</h1>

        <section id="goods">
            {goods.map(good => (
                <Product currentLang={currentLang} product={good}/>
            ))}
        </section>
    </main>
</Layout>

<style>
    main {
        padding: 3em;
    }

    #goods {
        margin-top: 2em;

        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 2em;
    }

    @media (max-width: 800px) {
        #goods {
            justify-content: center;
        }
    }
</style>