---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { LOCALES } from '../misc/i18n/locales';
import { getPathWithoutLocale, useTranslations } from '../misc/i18n/utils';


interface Props {
	currentLang: keyof typeof LOCALES
}

const { currentLang } = Astro.props;

const path = getPathWithoutLocale(Astro.url.pathname, currentLang);
const translate = useTranslations(currentLang);
---

<header role="banner">
    <h1>
        <span class="title">oldkamelle</span>
        <span class="tagline">{translate('tagline')}</span>
    </h1>

    <nav class="on-hover-opacity">
        <ul>
            <li><a href="#artworks">{translate('illustrations')}</a></li>
            <li><a href="#animatics">{translate('animatics')}</a></li>
        </ul>

        <select aria-label={translate('language')} onchange="window.location.href=this.value">
            {Object.entries(LOCALES).map(([key, value]) => (
                <option selected={currentLang == key} value={getRelativeLocaleUrl(key, path)}>
                    {value.label}
                </option>
            ))}
        </select>
    </nav>

    <ul id="socials-list" class="on-hover-opacity">
        <li><a href="mailto:oldkamelle@gmail.com">{translate('contact')}</a></li>
        <li><a href="https://www.youtube.com/@oldkamelle">Youtube</a></li>
        <li><a href="https://www.instagram.com/oldkamelle">Instagram</a></li>
        <li><a href="https://www.tumblr.com/blog/oldkamelle">Tumblr</a></li>
    </ul>
</header>

<style>
    header {
        padding: 2em 2em;
    }

    h1 {
        margin-top: 0;
        margin-right: auto;

        font-size: inherit;
        font-weight: normal;
        font-size: large;

        .title {
            font-weight: bold;
            font-size: larger;
        }

        .tagline {
            font-style: italic;
        }
    }

    nav {
        display: flex;
        gap: 1em;

        margin-bottom: 0.4em;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;

            &::after {
                content: ' / '
            }
        }

        li:last-of-type::after { 
            content: '';
        }
    }

    .on-hover-opacity { 
        width: fit-content;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
</style>