---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { LOCALES } from '../misc/i18n/locales';
import { getPathWithoutLocale, useTranslations } from '../misc/i18n/utils';


interface Props {
	currentLang: keyof typeof LOCALES
}

const { currentLang } = Astro.props;

const path = getPathWithoutLocale(Astro.url.pathname, currentLang);
const translate = useTranslations(currentLang);
---

<header role="banner">
    <h1>
        <span class="title">oldkamelle</span>
        <br/>
        <span class="tagline">{translate('tagline')}</span>
    </h1>

    <nav>
        <ul>
            <li>
                <select aria-label={translate('language')} onchange="window.location.href=this.value">
                    <option></option>
                    {Object.entries(LOCALES).map(([key, value]) => (
                        <option selected={currentLang == key} value={getRelativeLocaleUrl(key, path)}>
                            {value.label}
                        </option>
                    ))}
                </select>
            </li>
        </ul>
    </nav>

    <ul id="socials-list">
        <li>
            <a href="mailto:oldkamelle@gmail.com">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <title>{translate('contact')}</title>
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z" />
                    <path d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z" />
                </svg>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/@oldkamelle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <title>Youtube</title>
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M18 3a5 5 0 0 1 5 5v8a5 5 0 0 1 -5 5h-12a5 5 0 0 1 -5 -5v-8a5 5 0 0 1 5 -5zm-9 6v6a1 1 0 0 0 1.514 .857l5 -3a1 1 0 0 0 0 -1.714l-5 -3a1 1 0 0 0 -1.514 .857z" />
                </svg>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/oldkamelle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <title>Instagram</title>
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M16 3a5 5 0 0 1 5 5v8a5 5 0 0 1 -5 5h-8a5 5 0 0 1 -5 -5v-8a5 5 0 0 1 5 -5zm-4 5a4 4 0 0 0 -3.995 3.8l-.005 .2a4 4 0 1 0 4 -4m4.5 -1.5a1 1 0 0 0 -.993 .883l-.007 .127a1 1 0 0 0 1.993 .117l.007 -.127a1 1 0 0 0 -1 -1" />
                </svg>
            </a>
        </li>
        <li>
            <a href="https://www.tumblr.com/blog/oldkamelle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="5 0 14 24" fill="currentColor">
                    <title>Tumblr</title>
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M14 2a1 1 0 0 1 1 1v3h3a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -1 1h-3v4h3a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -1 1h-4a5 5 0 0 1 -5 -5v-5h-3a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 1 -1h1a2 2 0 0 0 2 -2v-1a1 1 0 0 1 1 -1z" />
                </svg>
            </a>
        </li>
    </ul>
</header>

<style>
    header {
        padding: 1em 2em;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;

        position: sticky;
        top: 0;
        left: 0;
        width: 100vw;

        backdrop-filter: blur(5px);
        background-color: rgb(from var(--bg-color) r g b / 0.4);
    }

    a {
        text-decoration: none;
    }

    h1 {
        margin-right: auto;

        font-size: inherit;
        font-weight: normal;

        .title {
            font-weight: bold;
            font-size: larger;
        }

        .tagline {
            font-style: italic;
        }
    }

    nav > ul > li {
        padding: 0.5em;
    }

    #socials-list > li > a {
        padding: 0.2em;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
        }
    }

    .active-page {
        text-decoration: underline;
    }

    svg {
        width: 27px;
        height: 27px;
    }

    @media (max-width: 800px) {
        header {
            flex-direction: column;
            justify-items: center;
            gap: 1em;
        }

        h1 {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
</style>