---
import NavBar from "../components/NavBar.astro";
import favicon from "../misc/assets/favicon.png";
import { LOCALES } from "../misc/i18n/locales";
import { getRouteLangParam } from "../misc/i18n/utils";


export function getStaticPaths() {
	return Object.keys(LOCALES)
				 .map(lang => ({
					params: { lang: getRouteLangParam(lang) },
					props: { currentLang: lang }
				 }));
}

interface Props {
	currentLang: keyof typeof LOCALES
}

const { currentLang } = Astro.props;
---

<!doctype html>
<html lang={currentLang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href={favicon.src} />
		<meta name="generator" content={Astro.generator} />

		<meta name="description" content="oldkamelle's portfolio, showcasing illustrations & animatics">
		<meta name="keywords" content="oldkamelle,artist,traditional artist,digital artist,illustrations,animatics">
		<title>oldkamelle</title>
	</head>
	<body>
        <NavBar currentLang={currentLang} /> 
		<slot/>
    </body>
</html>

<style is:global>
    * {
		--bg-color: #373037;
		--text-color: #f2f3f9;

        box-sizing: border-box;
	}

    body {		
		margin: 0;
		font-family: serif;

		background-color: var(--bg-color);
		color: var(--text-color);

		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	a, a:visited {
        color: inherit;
    }

	select {
        font-family: inherit;
        font-size: inherit;
        border: none;
        background-color: var(--text-color);
        color: var(--bg-color);
    }

	svg {
		width: 25px;
        height: 25px;
	}
</style>