---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { LOCALES } from "../misc/i18n/locales.ts";
import { getRouteLangParam, useTranslations } from '../misc/i18n/utils';
import favicon from "../misc/assets/favicon.png";

export function getStaticPaths() {
	return Object.keys(LOCALES)
				 .map(lang => ({
					params: { lang: getRouteLangParam(lang) },
					props: { currentLang: lang }
				 }));
}

const { currentLang } = Astro.props;
const translate = useTranslations(currentLang);

---

<!doctype html>
<html lang="sq">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href={favicon.src} />
		<meta name="generator" content={Astro.generator} />

		<meta name="description" content="oldkamelle's portfolio, showcasing illustrations & animatics">
		<meta name="keywords" content="oldkamelle,artist,traditional artist,digital artist,illustrations,animatics">
		<title>oldkamelle</title>
	</head>
	<body>
		<nav>
			<ul class="clear-list">
				<li id="about">
					<button class="clear-btn">{translate("about")}</button>
				</li>
				<li>
					<button id="portfolio-switch" class="clear-btn">{translate("animatics")}</button>
				</li>
				<li>
					<label hidden for="lang">{translate("language")}</label>
					<select name="lang" onchange="window.location.href=this.value">
						{Object.keys(LOCALES).map(lang => (
							<option selected={currentLang == lang} value={getRelativeLocaleUrl(lang)} style={currentLang == lang ? "font-style: bold;" : ""}>
								{LOCALES[lang].label}
							</option>
						))}
					</select>
				</li>
			</ul>
		</nav>

		<slot />

		<script src="https://rawcdn.githack.com/nextapps-de/spotlight/0.7.8/dist/spotlight.bundle.js"></script>
	</body>
</html>

<style is:global>
	* {
		box-sizing: border-box;
	}

	body {
		--dark-grey-color: #2d2d2e;
		--white-color: #e9e9ef;
        --highlight-color: #5A6ADE;

		margin: 0;

		background-color: var(--dark-grey-color);
		color: var(--white-color);
		font-size: larger;
		font-family: ui-serif;
    }

	a, a:hover, a:focus, a:active {
        color: inherit;
    }

	.clear-btn {
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
	}

	.clear-list {
        list-style: none;
		padding: 0;
		margin: 0;
    }

	.icon {
        width: 35px;
        height: 35px;
        color: var(--highlight-color);
    }
</style>

<style>
	nav {
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 2;
		margin: 0.5em 1em;
		margin-top: 0;

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			gap: 0.5em 1em;

			li {
				padding: 0.2em 0.5em;
				background-color: rgb(from var(--dark-grey-color) r g b / 85%);
			}

			#about {
				display: none;
			}
		}

		select {
        background-color: inherit;
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		border: none;
		border-bottom: 1px solid;
   		}
	}
</style>

<script>
	const consoleExtraStyle = "font-size: 18px";

	console.log("%cYou're either technical, nosy, or hit every possible key combination on your keyboard...", consoleExtraStyle);
	console.log("%cWhichever it may be, have this for your trouble: https://github.com/oldkamelle/portfolio-website", consoleExtraStyle);
</script>